@charset "ISO-8859-1";
#userbar {
	width: 100%;
	background-color:firebrick;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color:firebrick;
}